<nav class="py-3">
  <ul class="">
    <li><button id="openCart" class=""><img src="/img/cart.png" alt="Carrito"></button></li>
  </ul>
</nav>

{{!-- CARRITO DIALOG --}}
<dialog id="cart">
  <div class="cart-header">
    <h2>Carrito</h2>
    <button id="closeCart" class=""></button>
  </div>
  <div class="cart-body">

  </div>
</dialog>