<div class="col mt-3">
  <div class="card">
    <img src="/img/{{item}}.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item}}</h5>
      <button class="btn btn-primary" id="{{item}}">Agregar al carrito</button>
    </div>
  </div>
</div>